/clases/JavaApplication4/nbproject/private/
/clases/ConceptosBasicos/nbproject/private/
diagramaBD.img
/clases/TareaLibro/nbproject/private/
/tareas/TareaLibro1/nbproject/private/
/tareas/TareaLibro1/build/
/clases/ConceptosBasicos/build/
